repos:
  - repo: https://github.com/ambv/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black", "--filter-files"]
#-   repo: https://github.com/econchick/interrogate
#    rev: 1.4.0
#    hooks:
#    - id: interrogate
#      args: [-vv, -i, --fail-under=80]