{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>vA News Platform</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="mask-icon" type="image/png" href="{% static 'logo.svg' %}" color='white'>
    <link rel="apple-touch-icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="icon" href="{% static 'logo.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <style>
        /* unvisited link */
        a:link {
            color: #3A3B3C;
        }

        /* visited link */
        a:visited {
            color: #800080;
        }

        /* mouse over link */
        a:hover {
            color: #0a58ca;
        }

        /* selected link */
        a:active {
            color: #800000;
        }



        /* small  Modal */
        @media screen and (max-width: 600px) {
            #modaltext {
                width: inherit;
                padding: 20px;
                margin: 10px;
            }
        }

        /* normal widescreen Modal */
        @media screen and (min-width: 601px) {
            #modaltext {
                max-width: 800px;
                width: 80%;
                padding: 48px;
            }
        }
    </style>

</head>

<body>
<div class="bg-light">
    <header>

        <nav class="navbar navbar-expand-xl p-3 border-bottom shadow-sm bg-white navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar_robot_toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand link-dark">van Almsick - News Platform</a>
                <div class="collapse navbar-collapse" id="navbar_robot_toggler">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link link-dark" href="/" onclick="window.location.reload();">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                            </svg>
                            Refresh Page
                            <span class="text-secondary font-italic">(Last: {{ lastRefreshed }})</span>
                        </a>
                        <!---<a class="nav-item nav-link link-dark" href="https://www.ft.com" target="_blank">Financial
                            Times</a>
                        <a class="nav-item nav-link link-dark" href="https://www.bloomberg.com"
                           target="_blank">Bloomberg</a>--->
                        <a class="nav-item nav-link link-dark" href="/admin/">Admin</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPublisher">Loading...</h5>
                    <button type="button" class="btn-close close" data-mdb-dismiss="modal" aria-label="Close"
                            onclick="closeModal()"></button>
                </div>
                <div class="modal-body bg-light">
                    <div id="modaltext" class="mx-auto my-3 bg-body rounded shadow-sm">
                        <h2 id="modalTitle" style="font-family: Georgia, serif; font-weight: bold;"></h2>
                        <div id="modalSummary" class="lead pb-2" style="font-family: Georgia, serif;"></div>
                        <div id="modalIMG" class="pb-2" style="text-align: center;"></div>
                        <div id="modalFullText" style="font-family: Georgia, serif;"></div>
                    </div>
                </div>

                <div class=" modal-footer
                        ">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" onclick="closeModal()">
                        Close
                    </button>
                    <a id="modalLink" class="btn btn-primary" href="/" role="button" style="color: #FFFFFF;"
                       target="_blank">Go to Article</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Main website -->

<div class="album">
    <div class="container">

        <div class="my-3 p-3 bg-body rounded shadow-sm">

            <div class="row mb-2 flex-fill">
                {% for article in articles %}
                    <div class="col-md-4 col-lg-3 my-2" onclick="myFunction({{ article.pk }})" style="cursor: pointer;">
                        <div class="card mb-4 box-shadow h-100">
                            {% if article.image_url != Null %}
                                <img class="card-img-top" alt="Thumbnail" style="width: 100%;"
                                     src="{{ article.image_url }}">
                            {% endif %}
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary"
                                        style="font-family: Georgia, serif;">{{ article.genre }}</strong>
                                <h3 class="mb-0 text-dark fs-5"
                                    style="font-family: Georgia, serif; font-weight: bold;">
                                    {{ article.title }}
                                </h3>
                                <div class="mb-1 text-muted"
                                     style="font-family: Georgia, serif;">{{ article.publisher.name }}
                                    {% if article.main_genre != Null %}({{ article.main_genre|title }}) {% endif %}
                                    - {{ article.pub_date|date:'M jS' }}
                                </div>
                                <p class="card-text mb-auto"
                                   style="font-family: Georgia, serif;">{{ article.summary }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

</div>
</body>
<script>
    setTimeout(function () {
        window.location.reload();
    }, 1000 * 60 * 5);


    const userAction = async (article_id) => {
        const response = await fetch('/article/' + article_id);
        console.log(response);
        if (response.status == 403) {
            window.location.replace("/login");
        } else {
            const myJson = await response.json();
            //console.log(myJson);

            var publisher = document.getElementById("modalPublisher");
            var title = document.getElementById("modalTitle");
            var img_html = document.getElementById("modalIMG");
            var summary = document.getElementById("modalSummary");
            var fullText = document.getElementById("modalFullText");
            var fullLink = document.getElementById("modalLink");

            publisher.innerText = myJson.publisher__name;
            title.innerText = myJson.title;
            summary.innerText = myJson.summary;
            var img_in_html = (myJson.full_text.indexOf(myJson.image_url.split('?')[0]) != -1);
            console.log(img_in_html);
            if (img_in_html) {
                img_html.innerHTML = '';
            } else {
                img_html.innerHTML = '<img src="' + myJson.image_url + '" style="max-width: 100%; max-height: 80vh; object-fit: cover;">';
            }
            ;
            fullText.innerHTML = myJson.full_text;
            fullLink.href = myJson.link;
        }
        ;
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementById("closeModal");

    // When the user clicks the button, open the modal
    function myFunction(article_id) {
        userAction(article_id);
        console.log('open modal');
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    function closeModal() {
        console.log('Close modal');
        modal.style.display = "none";
        var publisher = document.getElementById("modalPublisher");
        var title = document.getElementById("modalTitle");
        var img_html = document.getElementById("modalIMG");
        var summary = document.getElementById("modalSummary");
        var fullText = document.getElementById("modalFullText");
        var fullLink = document.getElementById("modalLink");
        publisher.innerText = title.innerText = summary.innerText = 'Loading...';
        fullText.innerHTML = fullLink.href = img_html.innerHTML = '';
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>
</html>