{% extends "base.html" %}
{% load static %}
{% block content %}

    <body class="bg-body-tertiary">
    <header>

        <nav class="navbar navbar-expand-xl p-3 border-bottom shadow-sm bg-body navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar_robot_toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand link-dark">van Almsick - News Platform</a>
                <div class="collapse navbar-collapse" id="navbar_robot_toggler">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link link-dark" href="/" onclick="window.location.reload();">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                            </svg>
                            Refresh Page
                            <span class="text-secondary font-italic">(Last: {{ lastRefreshed }})</span>
                        </a>
                        <!---<a class="nav-item nav-link link-dark" href="https://www.ft.com" target="_blank">Financial
                            Times</a>
                        <a class="nav-item nav-link link-dark" href="https://www.bloomberg.com"
                           target="_blank">Bloomberg</a>--->
                        <a class="nav-item nav-link link-dark" href="/admin/">Admin</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPublisher">Loading...</h5>
                    <button type="button" class="btn-close close" data-mdb-dismiss="modal" aria-label="Close"
                            onclick="closeModal()"></button>
                </div>
                <div class="modal-body bg-body-tertiary">
                    <div id="modaltext" class="mx-auto my-3 bg-body rounded shadow-sm">
                        <h2 id="modalTitle" style="font-family: Georgia, serif; font-weight: bold;"></h2>
                        <div id="modalSummary" class="lead pb-2" style="font-family: Georgia, serif;"></div>
                        <div id="modalAccordion" class="mb-4" style="display: none;">
                            <div class="card">
                                <div class="card-header bg-tertiary d-flex justify-content-between" id="headingOne">
                                    <h6 class="mb-0">
                                        AI Article Summary
                                    </h6>
                                    <h6 class="mb-0">
                                        <span class="text-secondary"><i>(ChatGPT 3.5)</i></span>
                                    </h6>
                                </div>
                                <div id="modalAI" class="card-body text-dark" style="font-family: Georgia, serif;">
                                </div>

                            </div>
                        </div>
                        <div id="modalIMG" class="pb-2" style="text-align: center;"></div>
                        <div id="modalFullText" style="font-family: Georgia, serif;"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a id="modalEmail" class="btn btn-outline-danger cust-text-danger" href="#" role="button"
                       style="color: #FFFFFF; height: 40px; white-space: no-wrap; display: inline-flex; flex-wrap: wrap;"
                       target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-envelope-at" viewBox="0 0 16 16" style="margin: auto;">
                            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                        </svg>
                        <div class="d-none d-md-block" style="margin: 0px 0px 0px 4px;"> Email</div>
                    </a>
                    <a id="modalTeams" class="btn btn-outline-info me-auto cust-text-info" href="#" role="button"
                       style="color: #FFFFFF; height: 40px; white-space: no-wrap; display: inline-flex; flex-wrap: wrap;"
                       target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor"
                             class="bi bi-chat-dots" viewBox="0 0 16 16" style="margin: auto;">
                            <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                        </svg>
                        <div class="d-none d-md-block" style="margin: 0px 0px 0px 4px;"> Teams</div>
                    </a>
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" onclick="closeModal()">
                        Close
                    </button>
                    <a id="modalLink" class="btn btn-primary" href="/" role="button" style="color: #FFFFFF;"
                       target="_blank">Go to Article</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Main website -->

    <div class="album">
        <div class="container">

            <div class="my-3 p-3 bg-body rounded shadow-sm">

                <div class="row mb-2 flex-fill">
                    {% for article in articles %}
                        <div id="{{ article.pk }}" class="col-md-4 col-lg-3 my-2"
                                {% if article.has_full_text == True %}
                             onclick="openModal({{ article.pk }})"
                                {% endif %}
                             style="cursor: pointer;">
                            <div class="card mb-4 box-shadow h-100{% if article.type == 'breaking' %} breaking{% endif %}">
                                {% if article.image_url != Null %}
                                    <img class="card-img-top" alt="Thumbnail" style="width: 100%;"
                                         src="{{ article.image_url }}" loading="lazy">
                                {% endif %}
                                <div class="card-body d-flex flex-column align-items-start">
                                    <strong class="d-inline-block mb-2 text-primary"
                                            style="font-family: Georgia, serif;">{{ article.genre }}</strong>
                                    <h3 class="mb-0 text-dark fs-5"
                                        style="font-family: Georgia, serif; font-weight: bold;">
                                        {{ article.title }}
                                    </h3>
                                    <div class="mb-1 text-muted"
                                         style="font-family: Georgia, serif;">{{ article.publisher.name }}
                                        -
                                        <script>document.write(dateConvert("{{ article.pub_date|date:"c" }}"));</script>
                                        {% if article.has_full_text == False %}
                                        {% if article.publisher.paywall == 'Y' %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                 fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                                            </svg>
                                        {% endif %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                                            </svg>
                                        {% endif %}
                                    </div>
                                    <p class="card-text mb-auto"
                                       style="font-family: Georgia, serif;">{{ article.summary }}</p>
                                    {% if article.has_full_text == False %}
                                        <a class="stretched-link" href="{{ article.link }}" target="_blank"></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="scrollTopBtn" title="Go to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-up-short"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
    </button>

    </body>
    <script>

        function waitFor(conditionFunction) {
            const poll = resolve => {
                if (conditionFunction()) resolve();
                else setTimeout(_ => poll(resolve), 400);
            }
            return new Promise(poll);
        }


        // Get the modal ddd
        var modal = document.getElementById("myModal");

        setTimeout(function () {
            console.log('would like to reload page');

            async function reloadPage() {
                await waitFor(_ => modal.style.display !== "block");
                console.log('reloading page');
                window.location.reload();
            };
            reloadPage();
        }, 1000 * 60 * 5);

        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // dark mode
            document.documentElement.setAttribute('data-bs-theme', 'dark');
            var links = document.getElementsByClassName('link-dark');
            while (links.length > 0) {
                links[0].classList.add("link-light");
                links[0].classList.remove("link-dark");
            }
            var textlst = document.getElementsByClassName('text-dark');
            while (textlst.length > 0) {
                textlst[0].classList.add("text-light");
                textlst[0].classList.remove("text-dark");
            }
        } else {
            // light mode
            document.documentElement.setAttribute('data-bs-theme', 'light');
        }


        const userAction = async (article_id) => {
            const response = await fetch('/article/' + article_id + '/');
            console.log(response);
            if (response.status == 403) {
                // Use fallback view if blocker by firewall
                closeModal();
                window.location.href = '/?article=' + article_id;
            } else {
                console.log('allowed');
                const myJson = await response.json();
                console.log(myJson)
                var publisher = document.getElementById("modalPublisher");
                var title = document.getElementById("modalTitle");
                var img_html = document.getElementById("modalIMG");
                var summary = document.getElementById("modalSummary");
                var fullText = document.getElementById("modalFullText");
                var aiSummary = document.getElementById("modalAI");
                var aiAccordion = document.getElementById("modalAccordion");
                var fullLink = document.getElementById("modalLink");
                var shareEmail = document.getElementById("modalEmail");
                var shareTeams = document.getElementById("modalTeams");

                publisher.innerText = myJson.publisher__name;
                title.innerText = myJson.title;
                var img_in_html = (!myJson.image_url) ? '' : (myJson.full_text.indexOf(myJson.image_url.split('?')[0]) != -1);
                var html_starts_with_img = (myJson.full_text.substring(0, 250).indexOf('<img ') != -1);
                var summary_part_of_body = (myJson.full_text.indexOf(myJson.summary.substring(0, 30)) != -1);
                if (summary_part_of_body) {
                    summary.innerText = '';
                } else {
                    summary.innerText = myJson.summary;
                }
                if (img_in_html | html_starts_with_img) {
                    img_html.innerHTML = '';
                } else {
                    img_html.innerHTML = '<img src="' + myJson.image_url + '" style="max-width: 100%; max-height: 80vh; object-fit: cover;">';
                }
                fullText.innerHTML = myJson.full_text;
                aiSummary.innerHTML = myJson.ai_summary;
                fullLink.href = myJson.link;
                shareEmail.href = myJson.email__link;
                shareTeams.href = myJson.teams__link;
                if (!!myJson.ai_summary & myJson.ai_summary != 'None') {
                    aiAccordion.style.display = "block";
                }
            }
            ;
        }


        // When the user clicks the button, open the modal
        function openModal(article_id) {
            userAction(article_id);
            console.log('open modal');
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        function closeModal() {
            console.log('close modal');
            modal.style.display = "none";
            var publisher = document.getElementById("modalPublisher");
            var title = document.getElementById("modalTitle");
            var img_html = document.getElementById("modalIMG");
            var summary = document.getElementById("modalSummary");
            var fullText = document.getElementById("modalFullText");
            var aiSummary = document.getElementById("modalAI");
            var aiAccordion = document.getElementById("modalAccordion");
            var fullLink = document.getElementById("modalLink");
            var shareEmail = document.getElementById("modalEmail");
            var shareTeams = document.getElementById("modalTeams");
            aiAccordion.style.display = "none";
            publisher.innerText = title.innerText = summary.innerText = 'Loading...';
            aiSummary.innerHTML = fullText.innerHTML = fullLink.href = img_html.innerHTML = shareEmail.href = shareTeams.href = '';
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        // Get the button
        let scrollTopBtn = document.getElementById("scrollTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollTopBtn.style.display = "block";
            } else {
                scrollTopBtn.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }


    </script>
{% endblock %}
